/* --- main --- */
/* --- variables --- */
/* --- functions --- */
/* --- mixins --- */
/* --- root --- */
:root {
  --primary-clr-default: #7ed56f;
  --primary-clr-light: #55c57a;
  --primary-clr-dark: #28b485;
  --text-clr-default: #fff;
  --text-clr-dark: #111;
  --text-clr-btn: #777;
  --text-clr-placeholder: #999;
  --text-clr-learn-more-btn: #7ed56f;
  --background-clr-default: #fff;
  --background-clr-about: #f7f7f7;
  --background-clr-feature__box: rgba(255, 255, 255, 0.8);
  --background-clr-light: #f9f9f9;
  --background-clr-dark: #000;
  --background-clr-btn-white: white;
  --background-clr-btn-green: #28b485;
  --background-clr-gradient: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8));
  --background-clr-gradient-card-orange: linear-gradient(to right bottom, rgba(255, 161, 53, 0.8), rgba(255, 136, 0, 0.8));
  --background-clr-gradient-card-blue: linear-gradient(to right bottom, rgba(0, 170, 255, 0.8), rgba(35, 6, 255, 0.8));
  --shadow-clr-default: rgba(0, 0, 0, 0.3);
  --shadow-clr-higher: rgba(0, 0, 0, 0.5);
}

[data-theme=desktop] :root {
  --primary: 3.75rem;
  --secondary: 2.1875rem;
  --tertiary: 1rem;
  --paragraph: 1rem;
  --button: 1rem;
}

[data-theme=tablet] :root {
  --primary: 3.75rem;
  --secondary: 2.1875rem;
  --tertiary: 1rem;
  --paragraph: 1rem;
  --button: 1rem;
}

[data-theme=mobile] :root {
  --primary: 3.75rem;
  --secondary: 2.1875rem;
  --tertiary: 1rem;
  --paragraph: 1rem;
  --button: 0.5rem;
}

/* --- normalize --- */
/* --- reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- base --- */
body {
  padding: 2em;
}

/* --- placeholders --- */
/* --- utils --- */
.u-center-text {
  text-align: center;
}

.u-mb-small {
  margin-bottom: 1rem;
}

.u-mb-medium {
  margin-bottom: 2.5rem;
}

.u-mb-big {
  margin-bottom: 5rem;
}

.u-mt-small {
  margin-top: 1rem;
}

.u-mt-medium {
  margin-top: 2.5rem;
}

.u-mt-big {
  margin-top: 5rem;
}

/* --- typography --- */
html {
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
}

.heading__primary {
  color: var(--text-clr-default);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75em;
}
.heading__primary--main {
  display: block;
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 2.1875rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
}
.heading__primary--sub {
  display: block;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.0875rem;
  animation-name: moveInRight;
  animation-duration: 2s;
}

.heading__secondary {
  font-size: 2.1875rem;
  text-transform: uppercase;
  font-weight: 900;
  background-image: var(--background-clr-gradient);
  display: inline-block;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.125rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  text-shadow: 0.3125rem 0.625rem 20px var(--shadow-clr-default);
}
.heading__secondary:hover {
  transform: skewY(2deg) skewX(10deg);
}

.heading__tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 1.875rem;
}

/* --- grid --- */
.row {
  --max-width: 90rem;
  --gap: 3.125rem;
  --padding-inline: 1rem;
  max-width: 90rem;
  display: flow-root;
  margin-inline: auto;
  padding-inline: var(--padding-inline);
}
.row .col-1-of-2 {
  width: calc((100% - var(--gap)) / 2);
  float: left;
}
.row .col-1-of-2:not(:last-child) {
  margin-right: var(--gap);
}
.row .col-1-of-4 {
  width: calc((100% - var(--gap) * 3) / 4);
  float: left;
}
.row .col-1-of-4:not(:last-child) {
  margin-right: var(--gap);
}
.row .col-1-of-3 {
  width: calc((100% - var(--gap) * 2) / 3);
  float: left;
}
.row .col-1-of-3:not(:last-child) {
  margin-right: var(--gap);
}

/* --- header --- */
.header {
  position: relative;
  height: 95vh;
  background-image: var(--background-clr-gradient), url(../img/hero.jpg);
  background-size: cover;
  background-position: center top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5em;
}
.header__logo {
  height: 2em;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* --- navigation --- */
/* --- form --- */
/* --- footer --- */
.card {
  --height: 32.25rem;
  --perspective: 93.75rem;
  --transition-time: 0.7s;
  --rotate-Y: 180deg;
  width: 100%;
  height: var(--height);
  perspective: var(--perspective);
  transition: all var(--transition-time) ease-in-out;
  position: relative;
}
.card__side {
  position: absolute;
  height: inherit;
  border-radius: 0.3125rem;
  box-shadow: 1px 1rem 1.25rem var(--shadow-clr-default);
  inset: 0;
  transition: all var(--transition-time) ease-in-out;
  backface-visibility: hidden;
  overflow: hidden;
}
.card__side--front {
  background-color: var(--background-clr-default);
  z-index: 10;
}
.card__side--back {
  transform: rotateY(var(--rotate-Y));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__side--back--orange {
  background-image: var(--background-clr-gradient-card-orange);
}
.card__side--back--green {
  background-image: var(--background-clr-gradient);
}
.card__side--back--blue {
  background-image: var(--background-clr-gradient-card-blue);
}
.card:hover .card__side--front {
  transform: rotateY(calc(var(--rotate-Y) * -1));
  z-index: 1;
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
  z-index: 10;
}
.card__picture {
  --height: 14.375rem;
  height: var(--height);
  background-size: cover;
  background-position: top center;
  clip-path: polygon(0 0, 100% 0, 100% 13rem, 0 100%);
  background-blend-mode: screen;
}
.card__picture--1 {
  background-image: var(--background-clr-gradient-card-orange), url("../img/nat-5.jpg");
}
.card__picture--2 {
  background-image: var(--background-clr-gradient), url("../img/nat-6.jpg");
}
.card__picture--3 {
  background-image: var(--background-clr-gradient-card-blue), url("../img/nat-7.jpg");
}
.card__heading {
  position: absolute;
  font-size: 1.75rem;
  font-weight: 300;
  width: 14ch;
  color: white;
  text-transform: uppercase;
  text-align: right;
  top: 7.5rem;
  right: 1rem;
}
.card__heading__span {
  padding: 1rem;
  border-radius: 3px;
  box-decoration-break: clone;
}
.card__heading__span--orange {
  background-image: var(--background-clr-gradient-card-orange);
}
.card__heading__span--green {
  background-image: var(--background-clr-gradient);
}
.card__heading__span--blue {
  background-image: var(--background-clr-gradient-card-blue);
}
.card__details {
  padding: 1.875rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin-inline: auto;
}
.card__details ul li {
  padding-block: 0.5rem;
  font-size: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(208, 208, 208, 0.635);
}
.card__price-box {
  color: white;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.card__price-only {
  font-size: 1rem;
}
.card__price-value {
  font-size: 3.75rem;
  font-weight: 200;
}

.story {
  --skew-angle: -10deg;
  width: 80%;
  margin-inline: auto;
  border-radius: 3px;
  padding: 3.75rem 3.75rem 3.75rem 5.625rem;
  display: flow-root;
  position: relative;
  isolation: isolate;
}
.story::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.439);
  inset: 0;
  z-index: -1;
  transform: skewX(var(--skew-angle));
  box-shadow: 1px 1.25rem 1.25rem var(--shadow-clr-default);
}
.story__shape {
  position: relative;
  float: left;
  width: 9.375rem;
  aspect-ratio: 1;
  clip-path: circle(50%);
  shape-outside: circle(50%);
  transform: translateX(-1rem);
  z-index: 100;
  cursor: pointer;
}
.story__shape:hover .story__shape__img {
  transform: scale(1);
  filter: blur(3px) brightness(80%) grayscale(50%);
}
.story__shape:hover .story__shape__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story__shape__img {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
  backface-visibility: hidden;
  transform: scale(1.4);
  transition: all 0.15s ease-in-out;
}
.story__shape__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  backface-visibility: hidden;
  text-shadow: 1px 1px 1px black;
}

.btn, .btn:link, .btn:visited {
  backface-visibility: hidden;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.9375rem 2.5rem;
  display: inline-block;
  border-radius: 6.25rem;
  box-shadow: 1px 2px 3px var(--shadow-clr-default);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn:hover {
  z-index: 100;
  transform: translateY(-2px);
  box-shadow: 1px 3px 5px var(--shadow-clr-higher);
}
.btn:hover::after {
  transform: scale(1.5, 1.4);
  opacity: 0;
}
.btn:hover::before {
  transform: scale(1.7, 1.6);
  opacity: 0;
}
.btn:active {
  box-shadow: 1px 2px 3px var(--shadow-clr-default);
  transform: translateY(-1px);
}
.btn--white {
  background-color: var(--background-clr-btn-white);
  color: var(--text-btn);
}
.btn--white::before, .btn--white::after {
  background-color: var(--background-clr-btn-white);
}
.btn--green {
  background-color: var(--background-clr-btn-green);
  color: white;
}
.btn--green::before, .btn--green::after {
  background-color: var(--background-clr-btn-green);
}
.btn::after, .btn::before {
  content: "";
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.4;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.btn::before {
  opacity: 0.3;
}
.btn--animated {
  animation: moveInBottom 1s ease-in-out 0.75s;
  animation-fill-mode: backwards;
}

.btn__text:link, .btn__text:visited {
  color: var(--text-clr-learn-more-btn);
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--text-learn-more-btn);
  padding: 0.3125rem;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
}
.btn__text:hover {
  color: var(--text-clr-default);
  background-color: var(--primary-clr-default);
  box-shadow: 1px 8px 10px var(--shadow-clr-higher);
  transform: translateY(-2px);
}
.btn__text:active {
  box-shadow: 1px 5px 5px var(--shadow-clr-default);
  transform: translateY(0);
}

.form {
  --input-fs: 1rem;
  --label-fs: 0.75rem;
  --input-bck-clr: rgba(255, 255, 255, 0.544);
  --placeholder-clr: var(--text-clr-placeholder);
  --radio-btn-checked: .625rem;
}
.form__group:not(:last-child) {
  margin-bottom: 1.25rem;
}
.form__input {
  display: block;
  width: 90%;
  font-size: var(--input-fs);
  font-family: inherit;
  color: inherit;
  background-color: var(--input-bck-clr);
  padding: 1rem;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}
.form__input:focus {
  outline: none;
  box-shadow: 1px 0.625rem 1rem var(--shadow-clr-default);
  border-bottom: 3px solid var(--primary-clr-default);
}
.form__input:focus:invalid {
  border-bottom: 3px solid orangered;
}
.form__input::placeholder {
  color: var(--placeholder-clr);
}
.form__label {
  display: block;
  font-size: var(--label-fs);
  font-weight: 700;
  margin-left: 0.8rem;
  margin-top: 0.3rem;
  transition: all 0.15s ease-in-out;
}
.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-1rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-input {
  appearance: none;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1;
}
.form__radio-label {
  font-size: 1rem;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}
.form__radio-btn {
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 4px solid rgb(58, 216, 0);
}
.form__radio-btn::after {
  content: "";
  position: absolute;
  width: var(--radio-btn-checked);
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(58, 216, 0);
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.bg__video {
  --opacity-val:.2

  position: absolute;
  inset: 0;
  opacity: var(--opacity-val);
  z-index: -1;
  overflow: hidden;
}
.bg__video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.composition {
  position: relative;
}
.composition:hover > *:not(:hover) {
  transform: scale(0.95);
}
.composition__photo {
  position: absolute;
  width: 55%;
  box-shadow: 1px 0.625rem 1rem var(--shadow-clr-default);
  transition: all 0.2s ease-in-out;
  outline-offset: 0.5rem;
}
.composition__photo:hover {
  box-shadow: 1px 1rem 2.5rem var(--shadow-clr-default);
  transform: scale(1.05);
  z-index: 100;
  outline: 0.5rem solid var(--primary-clr-default);
}
.composition__photo--p1 {
  left: 0;
  top: -1.25rem;
  z-index: 10;
}
.composition__photo--p2 {
  right: 0;
  top: 1.25rem;
  z-index: 20;
}
.composition__photo--p3 {
  top: 5rem;
  left: 20%;
  z-index: 30;
}

.feature__box {
  background-color: var(--background-clr-feature__box);
  padding: 1.5625rem;
  border-radius: 3px;
  box-shadow: 1px 0.625rem 1.25rem var(--shadow-clr-default);
  transition: transform 0.15s ease-in-out;
  backface-visibility: hidden;
}
.feature__box:hover {
  transform: scale(1.03) translateY(-0.625rem);
}
.feature__box__icon {
  font-size: 6rem;
  display: inline-block;
  background-image: var(--background-clr-gradient);
  background-clip: text;
  color: transparent;
}
.feature__box__text {
  font-size: 1rem;
}

/* --- home --- */
body.home {
  opacity: 1;
}

.section__about {
  background-color: var(--background-clr-about);
  padding-block: 15.625rem;
  margin-top: -20vh;
}

.section__features {
  padding: 12.5rem 0;
  margin-top: -10%;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background-image: var(--background-clr-gradient), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center top;
}

.section__tours {
  background-color: var(--background-clr-about);
  padding-block: 15.625rem 31.25rem;
  margin-top: -10vh;
}

.section__stories {
  padding-block: 9.375rem;
  position: relative;
}

.section__book {
  --padding-blck: 9.375rem;
  padding-block: var(--padding-blck);
  background-image: linear-gradient(to right bottom, var(--primary-clr-light), var(--primary-clr-dark));
}
.section__book .book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.869) 0%, rgba(255, 255, 255, 0.869) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  height: 31.25rem;
  border-radius: 3px;
  box-shadow: 1px 1.25rem 1.25rem var(--shadow-clr-default);
}
.section__book .book__form {
  width: 50%;
  padding: 3.75rem;
}

/* --- about --- */
/* --- sign up --- */
/* --- contact --- */

/*# sourceMappingURL=main.css.map */
