// --- form ---

.form {
  --input-fs: 1rem;
  --label-fs: 0.75rem;
  --input-bck-clr: rgba(255, 255, 255, 0.544);
  --placeholder-clr: var(--text-clr-placeholder);
  --radio-btn-checked: .625rem;

  &__group {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  &__input {
    display: block;
    width: 90%;
    font-size: var(--input-fs);
    font-family: inherit;
    color: inherit;
    background-color: var(--input-bck-clr);
    padding: 1rem;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .2s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: 1px 0.625rem 1rem var(--shadow-clr-default);
      border-bottom: 3px solid var(--primary-clr-default);
    }

    &:focus:invalid {
      border-bottom: 3px solid orangered;
    }

    &::placeholder {
      color: var(--placeholder-clr);
    }
  }

  &__label {
    display: block;
    font-size: var(--label-fs);
    font-weight: 700;
    margin-left: 0.8rem;
    margin-top: 0.3rem;
    transition: all 0.15s ease-in-out;
  }
  &__input:placeholder-shown + &__label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-1rem);
  }


  &__radio-group{
    width: 49%;
    display: inline-block;
  }
  &__radio-input{
    appearance: none;
  }

  &__radio-input:checked ~ &__radio-label &__radio-btn::after{opacity: 1;}

  &__radio-label{
    font-size: 1rem;
    position: relative;
    padding-left: 2rem;
    cursor:pointer ;
  }
  &__radio-btn{
    display: inline-block;
    position: absolute;
    top: -3px;
    left: 0;
    width: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 4px solid rgb(58, 216, 0);


      &::after{
        content: "";
        position: absolute;
        width: var(--radio-btn-checked);
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:rgb(58, 216, 0) ;
        border-radius: 50%;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
  }
}
