/* --- typography --- */

html {
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
}

.heading__primary {
  color: var(--text-clr-default);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75em;

  &--main {
    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 2.1875rem;

    animation-name: moveInLeft;
    animation-duration: 2s;
  }

  &--sub {
    display: block;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.0875rem;
    animation-name: moveInRight;
    animation-duration: 2s;
  }
}

.heading__secondary {
  font-size: 2.1875rem;
  text-transform: uppercase;
  font-weight: 900;
  background-image: var(--background-clr-gradient);
  display: inline-block;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.125rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  text-shadow: 0.3125rem 0.625rem 20px var(--shadow-clr-default);

  &:hover {
    transform: skewY(2deg) skewX(10deg);
  }
}

.heading__tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
  &:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
