/* --- variables --- */
@use "sass:map";

$light-theme: (
  "primary-clr": (
    "default": #7ed56f,
    "light": #55c57a,
    "dark": #28b485,
  ),
  "text-clr": (
    "default": #fff,
    "dark": #111,
    "btn": #777,
    "learn-more-btn": #7ed56f,
  ),
  "background-clr": (
    "default": #fff,
    "about": #f7f7f7,
    "feature__box": rgba(white, 0.8),
    "light": #f9f9f9,
    "dark": #000,
    "btn-white": white,
    "btn-green": #28b485,
    "gradient":
      linear-gradient(to right bottom, rgba(#55c57a, 0.8), rgba(#28b485, 0.8)),
    "gradient-card-orange":
      linear-gradient(to right bottom, rgba(#ffa135, 0.8), rgba(#ff8800, 0.8)),
    "gradient-card-blue":
      linear-gradient(
        to right bottom,
        rgba(rgb(0, 170, 255), 0.8),
        rgba(#2306ff, 0.8)
      ),
  ),
  "shadow-clr": (
    "default": rgba(black, 0.3),
    "higher": rgba(black, 0.5),
  ),
);

$font-size: (
  "desktop": (
    "primary": 3.75rem,
    "secondary": 2.1875rem,
    "tertiary": 1rem,
    "paragraph": 1rem,
    "button": 1rem,
  ),
  "tablet": (
    "primary": 3.75rem,
    "secondary": 2.1875rem,
    "tertiary": 1rem,
    "paragraph": 1rem,
    "button": 1rem,
  ),
  "mobile": (
    "primary": 3.75rem,
    "secondary": 2.1875rem,
    "tertiary": 1rem,
    "paragraph": 1rem,
    "button": 0.5rem,
  ),
);

$desktop: map.get($font-size, "desktop");
$tablet: map.get($font-size, "tablet");
$mobile: map.get($font-size, "mobile");

$img-path: "../img/";
